node-rad(json)
[{"id":"ae6ca374.815bd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9b5d5521.30eba8","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"0","height":"0"},{"id":"300c3108.76779e","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"8","collapse":true},{"id":"9d85ab19.1f84d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ff0000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#ff0000","edited":true},"page-titlebar-backgroundColor":{"value":"#ff0000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ff4d4d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ff0000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"50b2cd7a.e5d3ec","type":"mqtt-broker","name":"serv","broker":"192.168.0.88","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ac6ff05d.b18cd8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"},{"id":"282bd201.f42806","type":"ui_group","name":"DATALOG","tab":"e7c46d5e.a1283","order":2,"disp":true,"width":"10","collapse":false},{"id":"758d2eff.18eb08","type":"ui_group","name":"CAMERA","tab":"e7c46d5e.a1283","order":3,"disp":true,"width":"12","collapse":false},{"id":"a296121b.8f3a","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/humi","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":300,"wires":[["9e9d321f.cfccb"]]},{"id":"4d852265.9f9bbc","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/state","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":220,"wires":[["1c0b0e9a.5a6f31"]]},{"id":"1c0b0e9a.5a6f31","type":"ui_text","z":"ae6ca374.815bd8","group":"61285987.c20328","order":4,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":220,"wires":[]},{"id":"9e9d321f.cfccb","type":"ui_gauge","z":"ae6ca374.815bd8","name":"","group":"61285987.c20328","order":6,"width":"4","height":"3","gtype":"gage","title":"Humidity","label":"Luminosity","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":300,"wires":[]},{"id":"9a1855b8.b6a4c8","type":"ui_template","z":"ae6ca374.815bd8","group":"282bd201.f42806","name":"dsdds","order":4,"width":"10","height":"12","format":"<iframe src=\"http://192.168.0.88/1484/logs.php\" width=\"100%\" height=\"600\" style=\"border:none;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":750,"y":440,"wires":[[]],"info":"dsdsadsaddsad"},{"id":"a444d964.e808c8","type":"ui_gauge","z":"ae6ca374.815bd8","name":"","group":"61285987.c20328","order":5,"width":"4","height":"3","gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":550,"y":360,"wires":[]},{"id":"c86a0990.e1fb5","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/temp","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":360,"wires":[["a444d964.e808c8"]]},{"id":"f18812f9.455b88","type":"ui_chart","z":"ae6ca374.815bd8","name":"temp","group":"61285987.c20328","order":7,"width":"4","height":"4","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":480,"wires":[[]]},{"id":"c0e52eec.998398","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/temp","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":480,"wires":[["f18812f9.455b88"]]},{"id":"f4861e93.ea281","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/humi","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":420,"wires":[["67990c54.8c9064"]]},{"id":"67990c54.8c9064","type":"ui_chart","z":"ae6ca374.815bd8","name":"","group":"61285987.c20328","order":8,"width":"4","height":"4","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":540,"y":420,"wires":[[]]},{"id":"e95b6151.7bfd28","type":"ui_text","z":"ae6ca374.815bd8","group":"61285987.c20328","order":1,"width":0,"height":0,"name":"","label":"Door : ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":580,"wires":[]},{"id":"9d39fe4d.e7a79","type":"ui_text","z":"ae6ca374.815bd8","group":"61285987.c20328","order":2,"width":0,"height":0,"name":"","label":"PIR : ","format":"{{msg.payload}}","layout":"row-spread","x":540,"y":640,"wires":[]},{"id":"feaea6a0.b6f6c","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/door","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":580,"wires":[["e95b6151.7bfd28"]]},{"id":"146ee610.c7a63a","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/pir","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":290,"y":640,"wires":[["9d39fe4d.e7a79"]]},{"id":"c3716953.cb2f1","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/co","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":300,"y":700,"wires":[["2676860c.bf1dca"]]},{"id":"2676860c.bf1dca","type":"ui_text","z":"ae6ca374.815bd8","group":"61285987.c20328","order":3,"width":0,"height":0,"name":"","label":"MQ : ","format":"{{msg.payload}}","layout":"row-spread","x":560,"y":700,"wires":[]},{"id":"7a0f801a.e4a3c","type":"ui_template","z":"ae6ca374.815bd8","group":"758d2eff.18eb08","name":"","order":0,"width":"10","height":"10","format":"<iframe src=\"http://192.168.0.6\" width=\"100%\" height=\"700\" style=\"border:none;\"></iframe>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":770,"y":620,"wires":[[]]},{"id":"cdd6f939.340bc","type":"ui_gauge","z":"ae6ca374.815bd8","name":"light","group":"61285987.c20328","order":8,"width":"4","height":"3","gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"1023","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":280,"wires":[]},{"id":"e6ba7b97.c2191","type":"mqtt in","z":"ae6ca374.815bd8","name":"","topic":"esp8266/light","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","x":720,"y":280,"wires":[["cdd6f939.340bc"]]},{"id":"bb1e3cbb.cb2e4","type":"ui_button","z":"ae6ca374.815bd8","name":"","group":"61285987.c20328","order":9,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"esp8266/output","topicType":"msg","x":310,"y":160,"wires":[["b7717f1d.5f9ca"]]},{"id":"b7717f1d.5f9ca","type":"mqtt out","z":"ae6ca374.815bd8","name":"","topic":"esp8266/output","qos":"","retain":"","broker":"10e78a89.5b4fd5","x":500,"y":160,"wires":[]}]
